.mainContainer {
  text-align: center;
  position: relative;
}

.formContainer {
  height: 60%;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}
.textField {
  width: 30%;
  padding: 2%;
  margin: 2%;
}
.book {
  text-align: center;
  font-size: 40px;
  background-color: #008cba;
  color: white;
  text-shadow: 2px 3px black;
}

.selectSlot {
  padding: 2%;
  margin: 2%;
}
