.heading {
  position: relative;
  font-size: 50px;

  color: white;
  font-weight: 600;
  background-color: #008cba;
  text-shadow: 2px 3px black;
  height: 30vh;
}
.mainHeading {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}
